body {
	backgroud:#38b4d6;
	font-size: 22px;
	font-family: 'Blaka Hollow' , cursive;
}
	
h1{
	text-align:center;
	color:black;
	font-family: 'Blaka Hollow', cursive;
}
p{
	text-align:center;
	color:black;
	font-family: 'Blaka Hollow', cursive;
}
img{
	display:block;
	margin-left: auto;
	margin-rigth: auto;
}

a:houver{
	color:black
}

a:visited{
	color:aquamarine;
}

a{
	color:aliceblue
}